<div class="footer-container">
  <div class="footer-item">
    <div class="footer-icon-container">
      <ion-icon class="footer-icon" name="fitness-outline"></ion-icon>
    </div>
    <div class="footer-label-container">
      <span class="footer-label">Book a test</span>
    </div>
  </div>
  <div class="footer-item">
    <div class="footer-icon-container">
      <ion-icon class="footer-icon" name="receipt-outline"></ion-icon>
    </div>
    <div class="footer-label-container">
      <span class="footer-label">Bookings & Reports</span>
    </div>
  </div>
  <div class="footer-item">
    <div class="footer-icon-container">
      <ion-icon class="footer-icon" name="person-outline"></ion-icon>
    </div>
    <div class="footer-label-container">
      <span class="footer-label">Profile</span>
    </div>
  </div>
</div>
